html, body {
  margin: 0px;
  padding: 0px;
  background-color: #20344A !important;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.spacer {
  text-align: center;
  min-height: 100px;
  border-bottom-style: dotted;
  border-bottom-color: black;
  border-bottom-width: 1px;
}



.spacer.s2 {
  min-height: 200px;
}

.spacer.s3 {
  min-height: 300px;
}

.spacer.s4 {
  min-height: 600px;
}

.spacer.s5 {
  min-height: 500px;
}

.spacer.s6 {
  min-height: 600px;
}

.spacer.s7 {
  min-height: 700px;
}

.spacer.s8 {
  min-height: 800px;
}

.spacer.s9 {
  min-height: 900px;
}

.spacer.s10 {
  min-height: 1000px;
}
#title-clementine{
  font-family: 'Open Sans Condensed', sans-serif;

}
#title-second > tspan{
  font-family: 'Open Sans Condensed', sans-serif;
}


/*background*/

/*Clementine*/
#eye_1,
#eye_2{
  display: none;
}
#clementine-first {
	display:  none;
  position: absolute;
  margin-left: 600px;
  margin-top: 450px;
}

#clementine-stand_up{
  display:  none;
  position: absolute;
  margin-left: 400px;
  margin-top: 470px;
}

#clementine-scare{
  display:  none;
  position: absolute;
  margin-left: 390px;
  margin-top: 450px;
}
